In [0]:
!pip install -U -q PyDrive
 
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
 
# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
gd = drive.CreateFile({'id': '14h-No4RJf00xH4Dgc99RDyoDVhzIH2YB'})
gd.GetContentFile('groundtruth_merged.csv')

In [0]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import json
import seaborn.apionly as sns
import matplotlib.pyplot as plt

In [0]:
gd = pd.read_csv('groundtruth_merged.csv')
gd.head()

,Unnamed: 0,FIPS,State_x,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,...,mentally_unhealthy_days_chr12,percent_fair_or_poor_chr12,percent_obese_chr12,ls09_10_avg,elev,maxtemp0610,mintemp0610,max_heat_index0610,sunlight0610,precipitation0610
0,0,1001,AL,"Autauga County, AL",2.0,2.0,1.0,24383.0,23577.0,806.0,...,4.1,22.2,34.1,3.40318,131.0,75.45,54.84,1012.0,17728.0,3.67
1,1,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,82659.0,80099.0,2560.0,...,4.2,12.5,25.5,3.40599,53.0,76.44,60.06,1042.0,18396.3,4.07
2,2,1005,AL,"Barbour County, AL",6.0,6.0,0.0,10334.0,9684.0,650.0,...,4.6,24.8,37.0,3.37381,152.0,76.20,56.13,990.0,17962.5,3.41
3,3,1007,AL,"Bibb County, AL",1.0,1.0,1.0,8791.0,8432.0,359.0,...,5.6,20.5,34.0,3.37655,114.0,74.93,54.21,1020.0,17509.9,3.85
4,4,1009,AL,"Blount County, AL",1.0,1.0,1.0,26629.0,25780.0,849.0,...,5.1,25.2,32.0,3.37481,166.0,72.54,53.16,867.0,16855.1,3.47

In [0]:
dfYear = pd.DataFrame({'year': [2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]})

In [0]:
dfYear['tmp'] = 1
gd['tmp'] = 1

In [0]:
gd = pd.merge(gd, dfYear, on=['tmp'])
gd.drop('tmp', axis=1, inplace=True)

In [0]:
list(gd.columns)
# gd.head()

['Unnamed: 0',
 'FIPS',
 'State_x',
 'Area_name',
 'Rural_urban_continuum_code_2013',
 'Urban_influence_code_2013',
 'Metro_2013',
 'Civilian_labor_force_2007',
 'Employed_2007',
 'Unemployed_2007',
 'Unemployment_rate_2007',
 'Civilian_labor_force_2008',
 'Employed_2008',
 'Unemployed_2008',
 'Unemployment_rate_2008',
 'Civilian_labor_force_2009',
 'Employed_2009',
 'Unemployed_2009',
 'Unemployment_rate_2009',
 'Civilian_labor_force_2010',
 'Employed_2010',
 'Unemployed_2010',
 'Unemployment_rate_2010',
 'Civilian_labor_force_2011',
 'Employed_2011',
 'Unemployed_2011',
 'Unemployment_rate_2011',
 'Civilian_labor_force_2012',
 'Employed_2012',
 'Unemployed_2012',
 'Unemployment_rate_2012',
 'Civilian_labor_force_2013',
 'Employed_2013',
 'Unemployed_2013',
 'Unemployment_rate_2013',
 'Civilian_labor_force_2014',
 'Employed_2014',
 'Unemployed_2014',
 'Unemployment_rate_2014',
 'Civilian_labor_force_2015',
 'Employed_2015',
 'Unemployed_2015',
 'Unemployment_rate_2015',
 'Civilian_labor_force_2016',
 'Employed_2016',
 'Unemployed_2016',
 'Unemployment_rate_2016',
 'Civilian_labor_force_2017',
 'Employed_2017',
 'Unemployed_2017',
 'Unemployment_rate_2017',
 'Median_Household_Income_2016',
 'Med_HH_Income_Percent_of_State_Total_2016',
 'State_y',
 'Area_Name_x',
 'Rural-urban_Continuum_Code_2003',
 'Urban_Influence_Code_2003_x',
 'Rural-urban_Continuum_Code_2013',
 'Urban_Influence_Code_2013_x',
 'POVALL_2016',
 'CI90LBAll_2016',
 'CI90UBALL_2016',
 'PCTPOVALL_2016',
 'CI90LBALLP_2016',
 'CI90UBALLP_2016',
 'POV017_2016',
 'CI90LB017_2016',
 'CI90UB017_2016',
 'PCTPOV017_2016',
 'CI90LB017P_2016',
 'CI90UB017P_2016',
 'POV517_2016',
 'CI90LB517_2016',
 'CI90UB517_2016',
 'PCTPOV517_2016',
 'CI90LB517P_2016',
 'CI90UB517P_2016',
 'MEDHHINC_2016',
 'CI90LBINC_2016',
 'CI90UBINC_2016',
 'POV05_2016',
 'CI90LB05_2016',
 'CI90UB05_2016',
 'PCTPOV05_2016',
 'CI90LB05P_2016',
 'CI90UB05P_2016',
 'State_x.1',
 'Area name',
 '2003 Rural-urban Continuum Code',
 '2003 Urban Influence Code',
 '2013 Rural-urban Continuum Code',
 '2013 Urban Influence Code',
 'Less than a high school diploma, 1970',
 'High school diploma only, 1970',
 'Some college (1-3 years), 1970',
 'Four years of college or higher, 1970',
 'Percent of adults with less than a high school diploma, 1970',
 'Percent of adults with a high school diploma only, 1970',
 'Percent of adults completing some college (1-3 years), 1970',
 'Percent of adults completing four years of college or higher, 1970',
 'Less than a high school diploma, 1980',
 'High school diploma only, 1980',
 'Some college (1-3 years), 1980',
 'Four years of college or higher, 1980',
 'Percent of adults with less than a high school diploma, 1980',
 'Percent of adults with a high school diploma only, 1980',
 'Percent of adults completing some college (1-3 years), 1980',
 'Percent of adults completing four years of college or higher, 1980',
 'Less than a high school diploma, 1990',
 'High school diploma only, 1990',
 "Some college or associate's degree, 1990",
 "Bachelor's degree or higher, 1990",
 'Percent of adults with less than a high school diploma, 1990',
 'Percent of adults with a high school diploma only, 1990',
 "Percent of adults completing some college or associate's degree, 1990",
 "Percent of adults with a bachelor's degree or higher, 1990",
 'Less than a high school diploma, 2000',
 'High school diploma only, 2000',
 "Some college or associate's degree, 2000",
 "Bachelor's degree or higher, 2000",
 'Percent of adults with less than a high school diploma, 2000',
 'Percent of adults with a high school diploma only, 2000',
 "Percent of adults completing some college or associate's degree, 2000",
 "Percent of adults with a bachelor's degree or higher, 2000",
 'Less than a high school diploma, 2012-2016',
 'High school diploma only, 2012-2016',
 "Some college or associate's degree, 2012-2016",
 "Bachelor's degree or higher, 2012-2016",
 'Percent of adults with less than a high school diploma, 2012-2016',
 'Percent of adults with a high school diploma only, 2012-2016',
 "Percent of adults completing some college or associate's degree, 2012-2016",
 "Percent of adults with a bachelor's degree or higher, 2012-2016",
 'State_y.1',
 'Area_Name_y',
 'Rural-urban_Continuum Code_2003',
 'Rural-urban_Continuum Code_2013',
 'Urban_Influence_Code_2003_y',
 'Urban_Influence_Code_2013_y',
 'Economic_typology_2015',
 'CENSUS_2010_POP',
 'ESTIMATES_BASE_2010',
 'POP_ESTIMATE_2010',
 'POP_ESTIMATE_2011',
 'POP_ESTIMATE_2012',
 'POP_ESTIMATE_2013',
 'POP_ESTIMATE_2014',
 'POP_ESTIMATE_2015',
 'POP_ESTIMATE_2016',
 'POP_ESTIMATE_2017',
 'N_POP_CHG_2010',
 'N_POP_CHG_2011',
 'N_POP_CHG_2012',
 'N_POP_CHG_2013',
 'N_POP_CHG_2014',
 'N_POP_CHG_2015',
 'N_POP_CHG_2016',
 'N_POP_CHG_2017',
 'Births_2010',
 'Births_2011',
 'Births_2012',
 'Births_2013',
 'Births_2014',
 'Births_2015',
 'Births_2016',
 'Births_2017',
 'Deaths_2010',
 'Deaths_2011',
 'Deaths_2012',
 'Deaths_2013',
 'Deaths_2014',
 'Deaths_2015',
 'Deaths_2016',
 'Deaths_2017',
 'NATURAL_INC_2010',
 'NATURAL_INC_2011',
 'NATURAL_INC_2012',
 'NATURAL_INC_2013',
 'NATURAL_INC_2014',
 'NATURAL_INC_2015',
 'NATURAL_INC_2016',
 'NATURAL_INC_2017',
 'INTERNATIONALMIG_2010',
 'INTERNATIONALMIG-2011',
 'INTERNATIONAL_MIG_2012',
 'INTERNATIONAL_MIG_2013',
 'INTERNATIONAL_MIG_2014',
 'INTERNATIONAL_MIG_2015',
 'INTERNATIONAL_MIG_2016',
 'INTERNATIONAL_MIG_2017',
 'DOMESTIC_MIG_2010',
 'DOMESTIC_MIG_2011',
 'DOMESTIC_MIG_2012',
 'DOMESTIC_MIG_2013',
 'DOMESTIC_MIG_2014',
 'DOMESTIC_MIG_2015',
 'DOMESTIC_MIG_2016',
 'DOMESTIC_MIG_2017',
 'NET_MIG_2010',
 'NET_MIG_2011',
 'NET_MIG_2012',
 'NET_MIG_2013',
 'NET_MIG_2014',
 'NET_MIG_2015',
 'NET_MIG_2016',
 'NET_MIG_2017',
 'RESIDUAL_2010',
 'RESIDUAL_2011',
 'RESIDUAL_2012',
 'RESIDUAL_2013',
 'RESIDUAL_2014',
 'RESIDUAL_2015',
 'RESIDUAL_2016',
 'RESIDUAL_2017',
 'GQ_ESTIMATES_BASE_2010',
 'GQ_ESTIMATES_2010',
 'GQ_ESTIMATES_2011',
 'GQ_ESTIMATES_2012',
 'GQ_ESTIMATES_2013',
 'GQ_ESTIMATES_2014',
 'GQ_ESTIMATES_2015',
 'GQ_ESTIMATES_2016',
 'GQ_ESTIMATES_2017',
 'R_birth_2011',
 'R_birth_2012',
 'R_birth_2013',
 'R_birth_2014',
 'R_birth_2015',
 'R_birth_2016',
 'R_birth_2017',
 'R_death_2011',
 'R_death_2012',
 'R_death_2013',
 'R_death_2014',
 'R_death_2015',
 'R_death_2016',
 'R_death_2017',
 'R_NATURAL_INC_2011',
 'R_NATURAL_INC_2012',
 'R_NATURAL_INC_2013',
 'R_NATURAL_INC_2014',
 'R_NATURAL_INC_2015',
 'R_NATURAL_INC_2016',
 'R_NATURAL_INC_2017',
 'R_INTERNATIONAL_MIG_2011',
 'R_INTERNATIONAL_MIG_2012',
 'R_INTERNATIONAL_MIG_2013',
 'R_INTERNATIONAL_MIG_2014',
 'R_INTERNATIONAL_MIG_2015',
 'R_INTERNATIONAL_MIG_2016',
 'R_INTERNATIONAL_MIG_2017',
 'R_DOMESTIC_MIG_2011',
 'R_DOMESTIC_MIG_2012',
 'R_DOMESTIC_MIG_2013',
 'R_DOMESTIC_MIG_2014',
 'R_DOMESTIC_MIG_2015',
 'R_DOMESTIC_MIG_2016',
 'R_DOMESTIC_MIG_2017',
 'R_NET_MIG_2011',
 'R_NET_MIG_2012',
 'R_NET_MIG_2013',
 'R_NET_MIG_2014',
 'R_NET_MIG_2015',
 'R_NET_MIG_2016',
 'R_NET_MIG_2017',
 'cnty',
 'percent_male10',
 'med_age10',
 'percent_black10',
 'percent_white10',
 'total_pop10',
 'pop_density10',
 'log_pop_density10',
 'rep_pre_2008',
 'rep_pre_2012',
 'rep_sen_2010',
 'rep_hou_2010',
 'main_protestant10',
 'evan_protestant10',
 'catholic10',
 'med_house_val0509',
 'med_house_income0509',
 'below_poverty0509',
 'log_med_house_val0509',
 'log_med_house_income0509',
 'high_school0509',
 'bac0509',
 'grad0509',
 'married0509',
 'divorced0509',
 'separated0509',
 'other_language0509',
 'foreign_born0509',
 'same_sex0509',
 'murderrate2008',
 'robberyrate2008',
 'agasltrate2008',
 'percent_physically_inactive_chr12',
 'motorvehicle_mortality_rate_chr12',
 'year_potential_life_lost_rate_chr12',
 'percent_excessive_drinking_chr12',
 'percent_smokers_chr12',
 'physically_unhealthy_days_chr12',
 'mentally_unhealthy_days_chr12',
 'percent_fair_or_poor_chr12',
 'percent_obese_chr12',
 'ls09_10_avg',
 'elev',
 'maxtemp0610',
 'mintemp0610',
 'max_heat_index0610',
 'sunlight0610',
 'precipitation0610',
 'year']

In [0]:
# 'Civilian_labor_force_2016',
# 'Employed_2016',
# 'Unemployed_2016',
# 'Unemployment_rate_2016',
# 'POP_ESTIMATE_2016',
# 'N_POP_CHG_2016',
# 'Births_2016',
# 'Deaths_2016',
# 'NATURAL_INC_2016',
# 'INTERNATIONAL_MIG_2016',
# 'DOMESTIC_MIG_2016',
# 'NET_MIG_2016',
# 'RESIDUAL_2016',
# 'GQ_ESTIMATES_2016',
# 'R_birth_2016',
# 'R_death_2016',
# 'R_NATURAL_INC_2016',
# 'R_INTERNATIONAL_MIG_2016',
# 'R_DOMESTIC_MIG_2016',
# 'R_NET_MIG_2016',
# 'rep_pre_2016',
gd = gd[gd['year'].isin([2016,2017])]

gd['Civilian_labor_force'] = np.where(gd['year'] == 2016, gd['Civilian_labor_force_2016'], gd['Civilian_labor_force_2017'])
gd['Employed'] = np.where(gd['year'] == 2016, gd['Employed_2016'], gd['Employed_2017'])
gd['Unemployed'] = np.where(gd['year'] == 2016, gd['Unemployed_2016'], gd['Unemployed_2017'])
gd['Unemployment_rate'] = np.where(gd['year'] == 2016, gd['Unemployment_rate_2016'], gd['Unemployment_rate_2017'])
gd['POP_ESTIMATE'] = np.where(gd['year'] == 2016, gd['POP_ESTIMATE_2016'], gd['POP_ESTIMATE_2017'])
gd['N_POP_CHG'] = np.where(gd['year'] == 2016, gd['N_POP_CHG_2016'], gd['N_POP_CHG_2017'])
gd['Births'] = np.where(gd['year'] == 2016, gd['Births_2016'], gd['Births_2017'])
gd['Deaths'] = np.where(gd['year'] == 2016, gd['Deaths_2016'], gd['Deaths_2017'])
gd['NATURAL_INC'] = np.where(gd['year'] == 2016, gd['NATURAL_INC_2016'], gd['NATURAL_INC_2017'])
gd['INTERNATIONAL_MIG'] = np.where(gd['year'] == 2016, gd['INTERNATIONAL_MIG_2016'], gd['INTERNATIONAL_MIG_2017'])
gd['DOMESTIC_MIG'] = np.where(gd['year'] == 2016, gd['DOMESTIC_MIG_2016'], gd['DOMESTIC_MIG_2017'])
gd['NET_MIG'] = np.where(gd['year'] == 2016, gd['NET_MIG_2016'], gd['NET_MIG_2017'])
gd['RESIDUAL'] = np.where(gd['year'] == 2016, gd['RESIDUAL_2016'], gd['RESIDUAL_2017'])
gd['GQ_ESTIMATES'] = np.where(gd['year'] == 2016, gd['GQ_ESTIMATES_2016'], gd['GQ_ESTIMATES_2017'])
gd['R_birth'] = np.where(gd['year'] == 2016, gd['R_birth_2016'], gd['R_birth_2017'])
gd['R_death'] = np.where(gd['year'] == 2016, gd['R_death_2016'], gd['R_death_2016'])
gd['R_NATURAL_INC'] = np.where(gd['year'] == 2016, gd['R_NATURAL_INC_2016'], gd['R_NATURAL_INC_2017'])
gd['R_INTERNATIONAL_MIG'] = np.where(gd['year'] == 2016, gd['R_INTERNATIONAL_MIG_2016'], gd['R_INTERNATIONAL_MIG_2017'])
gd['R_DOMESTIC_MIG'] = np.where(gd['year'] == 2016, gd['R_DOMESTIC_MIG_2016'], gd['R_DOMESTIC_MIG_2017'])
gd['R_NET_MIG'] = np.where(gd['year'] == 2016, gd['R_NET_MIG_2016'], gd['R_NET_MIG_2017'])
# gd['rep_pre'] = np.where(gd['year'] == 2016, gd['rep_pre_2016'], gd['rep_pre_2017'])

In [0]:
gd.head()

,Unnamed: 0,FIPS,State_x,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,...,DOMESTIC_MIG,NET_MIG,RESIDUAL,GQ_ESTIMATES,R_birth,R_death,R_NATURAL_INC,R_INTERNATIONAL_MIG,R_DOMESTIC_MIG,R_NET_MIG
9,0,1001,AL,"Autauga County, AL",2.0,2.0,1.0,24383.0,23577.0,806.0,...,266.0,281.0,-2.0,455.0,12.096335,9.172146,2.924189,0.272440,4.831269,5.103709
10,0,1001,AL,"Autauga County, AL",2.0,2.0,1.0,24383.0,23577.0,806.0,...,58.0,73.0,-1.0,455.0,11.987507,9.172146,2.780235,0.270802,1.047102,1.317904
20,1,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,82659.0,80099.0,2560.0,...,4205.0,4374.0,5.0,2275.0,11.267825,9.966567,1.301258,0.823643,20.493601,21.317244
21,1,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,82659.0,80099.0,2560.0,...,4702.0,4866.0,18.0,2278.0,11.067818,9.966567,1.118683,0.780698,22.383175,23.163873
31,2,1005,AL,"Barbour County, AL",6.0,6.0,0.0,10334.0,9684.0,650.0,...,-488.0,-493.0,0.0,2977.0,10.453899,10.338599,0.115300,-0.192167,-18.755525,-18.947692

In [0]:
cols = ['Civilian_labor_force_2007',
'Employed_2007',
'Unemployed_2007',
'Unemployment_rate_2007',
'Civilian_labor_force_2008',
'Employed_2008',
'Unemployed_2008',
'Unemployment_rate_2008',
'Civilian_labor_force_2009',
'Employed_2009',
'Unemployed_2009',
'Unemployment_rate_2009',
'Civilian_labor_force_2010',
'Employed_2010',
'Unemployed_2010',
'Unemployment_rate_2010',
'Civilian_labor_force_2011',
'Employed_2011',
'Unemployed_2011',
'Unemployment_rate_2011',
'Civilian_labor_force_2012',
'Employed_2012',
'Unemployed_2012',
'Unemployment_rate_2012',
'POP_ESTIMATE_2012',
'N_POP_CHG_2012',
'Births_2012',
'Deaths_2012',
'NATURAL_INC_2012',
'INTERNATIONAL_MIG_2012',
'DOMESTIC_MIG_2012',
'NET_MIG_2012',
'RESIDUAL_2012',
'GQ_ESTIMATES_2012',
'R_birth_2012',
'R_death_2012',
'R_NATURAL_INC_2012',
'R_INTERNATIONAL_MIG_2012',
'R_DOMESTIC_MIG_2012',
'R_NET_MIG_2012',
'rep_pre_2012',
'Civilian_labor_force_2013',
'Employed_2013',
'Unemployed_2013',
'Unemployment_rate_2013',
'POP_ESTIMATE_2013',
'N_POP_CHG_2013',
'Births_2013',
'Deaths_2013',
'NATURAL_INC_2013',
'INTERNATIONAL_MIG_2013',
'DOMESTIC_MIG_2013',
'NET_MIG_2013',
'RESIDUAL_2013',
'GQ_ESTIMATES_2013',
'R_birth_2013',
'R_death_2013',
'R_NATURAL_INC_2013',
'R_INTERNATIONAL_MIG_2013',
'R_DOMESTIC_MIG_2013',
'R_NET_MIG_2013',
'Civilian_labor_force_2014',
'Employed_2014',
'Unemployed_2014',
'Unemployment_rate_2014',
'POP_ESTIMATE_2014',
'N_POP_CHG_2014',
'Births_2014',
'Deaths_2014',
'NATURAL_INC_2014',
'INTERNATIONAL_MIG_2014',
'DOMESTIC_MIG_2014',
'NET_MIG_2014',
'RESIDUAL_2014',
'GQ_ESTIMATES_2014',
'R_birth_2014',
'R_death_2014',
'R_NATURAL_INC_2014',
'R_INTERNATIONAL_MIG_2014',
'R_DOMESTIC_MIG_2014',
'R_NET_MIG_2014',
'Civilian_labor_force_2015',
'Employed_2015',
'Unemployed_2015',
'Unemployment_rate_2015',
'POP_ESTIMATE_2015',
'N_POP_CHG_2015',
'Births_2015',
'Deaths_2015',
'NATURAL_INC_2015',
'INTERNATIONAL_MIG_2015',
'DOMESTIC_MIG_2015',
'NET_MIG_2015',
'RESIDUAL_2015',
'GQ_ESTIMATES_2015',
'R_birth_2015',
'R_death_2015',
'R_NATURAL_INC_2015',
'R_INTERNATIONAL_MIG_2015',
'R_DOMESTIC_MIG_2015',
'R_NET_MIG_2015']



gd.drop(cols, inplace=True, axis=1)

In [0]:
cols = ['Civilian_labor_force_2017',
'Employed_2017',
'Unemployed_2017',
'Unemployment_rate_2017',
'POP_ESTIMATE_2017',
'N_POP_CHG_2017',
'Births_2017',
'Deaths_2017',
'NATURAL_INC_2017',
'INTERNATIONAL_MIG_2017',
'DOMESTIC_MIG_2017',
'NET_MIG_2017',
'RESIDUAL_2017',
'GQ_ESTIMATES_2017',
'R_birth_2017',
'R_death_2017',
'R_NATURAL_INC_2017',
'R_INTERNATIONAL_MIG_2017',
'R_DOMESTIC_MIG_2017',
'R_NET_MIG_2017',
'Civilian_labor_force_2016',
'Employed_2016',
'Unemployed_2016',
'Unemployment_rate_2016',
'POP_ESTIMATE_2016',
'N_POP_CHG_2016',
'Births_2016',
'Deaths_2016',
'NATURAL_INC_2016',
'INTERNATIONAL_MIG_2016',
'DOMESTIC_MIG_2016',
'NET_MIG_2016',
'RESIDUAL_2016',
'GQ_ESTIMATES_2016',
'R_birth_2016',
'R_death_2016',
'R_NATURAL_INC_2016',
'R_INTERNATIONAL_MIG_2016',
'R_DOMESTIC_MIG_2016',
'R_NET_MIG_2016']

gd.drop(cols, inplace=True, axis=1)

In [0]:
cols = ['State_x.1',
 'Area name',
 '2003 Rural-urban Continuum Code',
 '2003 Urban Influence Code',
 '2013 Rural-urban Continuum Code',
 '2013 Urban Influence Code',
 'Rural-urban_Continuum Code_2003',
 'Rural-urban_Continuum Code_2013',
 'Urban_Influence_Code_2003_y',
 'Urban_Influence_Code_2013_y',
 'Economic_typology_2015',
 'CENSUS_2010_POP',
 'ESTIMATES_BASE_2010',
 'POP_ESTIMATE_2010',
 'POP_ESTIMATE_2011',
 'N_POP_CHG_2010',
 'N_POP_CHG_2011',
 'Births_2010',
 'Births_2011',
 'Deaths_2010',
 'Deaths_2011',
 'NATURAL_INC_2010',
 'NATURAL_INC_2011',
 'INTERNATIONALMIG_2010',
 'INTERNATIONALMIG-2011',
 'DOMESTIC_MIG_2010',
 'DOMESTIC_MIG_2011',
 'NET_MIG_2010',
 'NET_MIG_2011',
 'RESIDUAL_2010',
 'RESIDUAL_2011',
 'GQ_ESTIMATES_BASE_2010',
 'GQ_ESTIMATES_2010',
 'GQ_ESTIMATES_2011',
 'R_birth_2011',
 'R_death_2011',
 'R_NATURAL_INC_2011',
 'R_INTERNATIONAL_MIG_2011',
 'R_DOMESTIC_MIG_2011',
 'R_NET_MIG_2011',
 'percent_male10',
 'med_age10',
 'percent_black10',
 'percent_white10',
 'total_pop10',
 'pop_density10',
 'log_pop_density10',
 'rep_pre_2008',
 'rep_sen_2010',
 'rep_hou_2010']
gd.drop(cols, inplace=True, axis=1)

In [0]:
gd.head()

,Unnamed: 0,FIPS,State_x,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Median_Household_Income_2016,Med_HH_Income_Percent_of_State_Total_2016,State_y,...,DOMESTIC_MIG,NET_MIG,RESIDUAL,GQ_ESTIMATES,R_birth,R_death,R_NATURAL_INC,R_INTERNATIONAL_MIG,R_DOMESTIC_MIG,R_NET_MIG
9,0,1001,AL,"Autauga County, AL",2.0,2.0,1.0,54487.0,117.7,AL,...,266.0,281.0,-2.0,455.0,12.096335,9.172146,2.924189,0.272440,4.831269,5.103709
10,0,1001,AL,"Autauga County, AL",2.0,2.0,1.0,54487.0,117.7,AL,...,58.0,73.0,-1.0,455.0,11.987507,9.172146,2.780235,0.270802,1.047102,1.317904
20,1,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,56460.0,121.9,AL,...,4205.0,4374.0,5.0,2275.0,11.267825,9.966567,1.301258,0.823643,20.493601,21.317244
21,1,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,56460.0,121.9,AL,...,4702.0,4866.0,18.0,2278.0,11.067818,9.966567,1.118683,0.780698,22.383175,23.163873
31,2,1005,AL,"Barbour County, AL",6.0,6.0,0.0,32884.0,71.0,AL,...,-488.0,-493.0,0.0,2977.0,10.453899,10.338599,0.115300,-0.192167,-18.755525,-18.947692

In [0]:
new_df.to_csv('gd_16_17.csv')

In [0]:
file = drive.CreateFile({'parents':[{'id': '1lBQSbweFIo6Rf-tdZBWUGTqmRrKi1Nl8'}]})
file.SetContentFile("gd_16_17.csv")
file.Upload()

In [0]:
gd = gd.reset_index(drop=True)

In [0]:
gd['county'] = gd['Area_Name_x'].map(lambda x: x[:7])

In [0]:
gd.head()

,Unnamed: 0,FIPS,State_x,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Median_Household_Income_2016,Med_HH_Income_Percent_of_State_Total_2016,State_y,...,NET_MIG,RESIDUAL,GQ_ESTIMATES,R_birth,R_death,R_NATURAL_INC,R_INTERNATIONAL_MIG,R_DOMESTIC_MIG,R_NET_MIG,county
9,0,1001,AL,"Autauga County, AL",2.0,2.0,1.0,54487.0,117.7,AL,...,281.0,-2.0,455.0,12.096335,9.172146,2.924189,0.272440,4.831269,5.103709,Autauga
10,0,1001,AL,"Autauga County, AL",2.0,2.0,1.0,54487.0,117.7,AL,...,73.0,-1.0,455.0,11.987507,9.172146,2.780235,0.270802,1.047102,1.317904,Autauga
20,1,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,56460.0,121.9,AL,...,4374.0,5.0,2275.0,11.267825,9.966567,1.301258,0.823643,20.493601,21.317244,Baldwin
21,1,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,56460.0,121.9,AL,...,4866.0,18.0,2278.0,11.067818,9.966567,1.118683,0.780698,22.383175,23.163873,Baldwin
31,2,1005,AL,"Barbour County, AL",6.0,6.0,0.0,32884.0,71.0,AL,...,-493.0,0.0,2977.0,10.453899,10.338599,0.115300,-0.192167,-18.755525,-18.947692,Barbour

ValueError: ignored

In [0]:
len(list(gd.columns))

139

In [0]:
cd = drive.CreateFile({'id': '1Nyvu77e3-qwKOGauZsE2jB_FA1BEqyAQ'})
cd.GetContentFile('clean_data.csv')

In [0]:
cd = pd.read_csv('clean_data.csv')
cd.head()

,Unnamed: 0,state,id,county,newspaper,date,notice_id,combinations,combinations_clean,count_tags,Year,Month,Day,State_x
0,0,Mississippi,626/2272017_23983816,Pearl River,Picayune Item,2017-02-24,23983816.0,2-Auctions_Abandoned_Vehicle,1-Bids_2-Auctions_3-Vehicle,3,2017,2,Friday,MS
1,4,Arkansas,3147/2272017_23983801,Sebastian,Times Record (Fort Smith),2017-02-24,23983801.0,1-Bids,1-Bids_2-Auctions_3-Other,3,2017,2,Friday,AR
2,6,Louisiana,346/2242017_23980782,Lincoln,The Ruston Daily Leader,2017-02-24,23980782.0,1-Election_Board_Maintenance_Meeting_School_Ve...,1-Public Meeting,1,2017,2,Friday,LA
3,7,Arkansas,3147/2272017_23983790,Sebastian,Times Record (Fort Smith),2017-02-24,23983790.0,1-Bids,1-Bids_2-Auctions_3-Other,3,2017,2,Friday,AR
4,8,Arkansas,3147/2272017_23983782,Sebastian,Times Record (Fort Smith),2017-02-24,23983782.0,1-Bids,1-Bids_2-Auctions_3-Other,3,2017,2,Friday,AR

In [0]:
new_df_1 = pd.merge(cd, new_df, left_on=['State_x','county','Year'], right_on=['State_x','county','year'])

In [0]:
new_df.to_csv('new_merged.csv')
file = drive.CreateFile({'parents':[{'id': '1lBQSbweFIo6Rf-tdZBWUGTqmRrKi1Nl8'}]})
file.SetContentFile("new_merged.csv")
file.Upload()

In [0]:
sd = drive.CreateFile({'id': '1Sq86d2AU3in-Bv2G9DOH7L0g3PDtWOL9'})
sd.GetContentFile('state_wise.csv')

In [0]:
sd = pd.read_csv('state_wise.csv')
sd.head()

,State,Percent Educational Attainment,Percent Peace Index,Percent Above Poverty Rate,Percent Non-religious
0,Massachusetts,38.2,59.92,88.3,67
1,Maryland,37.3,37.10,89.6,46
2,Colorado,35.9,49.48,87.9,53
3,Connecticut,35.6,56.12,89.2,57
4,New Jersey,34.5,47.38,88.9,45

In [0]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}
sd['State_x']= sd['State'].map(us_state_abbrev)
sd.drop(['State'], inplace=True, axis=1)

In [0]:
sd.head()

,Percent Educational Attainment,Percent Peace Index,Percent Above Poverty Rate,Percent Non-religious,State_x
0,38.2,59.92,88.3,67,MA
1,37.3,37.10,89.6,46,MD
2,35.9,49.48,87.9,53,CO
3,35.6,56.12,89.2,57,CT
4,34.5,47.38,88.9,45,NJ

In [0]:
new_df = pd.merge(gd, sd, on=['State_x'])

In [0]:
len(list(gd['State_x'].unique()))

51

In [0]:
new_df = new_df[new_df['State_x'].isin(['MS','AR','AZ','WY','TN','NM','NV','LA'])]

In [0]:
county = ['Pearl River', 'Fremont', 'Sebastian', 'Clark', 'Lincoln',
       'Maricopa', 'Santa Fe', 'Campbell', 'St. Bernard', 'Pope', 'Uinta',
       'Boone', 'McMinn', 'Cross', 'Warren', 'Grenada', 'Carson City',
       'St. Mary', 'San Juan', 'Sublette', 'Marshall', 'San Miguel',
       'Laramie', 'Sweetwater', 'Acadia', 'Terrebonne', 'Albany',
       'Calcasieu', 'Leflore', 'Chaves', 'Bernalillo', 'Henry', 'Lowndes',
       'Bedford', 'Jackson', 'Natrona', 'Maury', 'Washoe', 'Franklin',
       'Lafourche', 'Coffee', 'Webster', 'Jefferson', 'East Baton Rouge',
       'Lafayette', 'Tangipahoa', 'Forrest', 'Ouachita', 'St. Landry',
       'Hidalgo', 'Curry', 'Lea', 'Sierra', 'Davidson', 'Dona Ana',
       'Caddo', 'Hinds', 'Luna', 'Rapides', 'Shelby', 'Santa Cruz',
       'Pima', 'Yavapai', 'Yuma', 'Mohave', 'Hamilton', 'Wilson',
       'Hamblen', 'Washington', 'Sullivan', 'Monroe', 'Greene',
       'Cumberland', 'Sumner', 'Montgomery', 'Madison', 'Rutherford',
       'Dickson', 'Sevier', 'Blount', 'Knox', 'Bradley', 'Pinal',
       'Navajo', 'Apache', 'Gila', 'Union', 'Craighead', 'Faulkner',
       'White', 'Lauderdale', 'Plaquemines', 'Iberia', 'Vermilion',
       'Roosevelt', 'Los Alamos', 'Roane', 'Grundy', 'Cochise',
       'Coconino', 'Humboldt', 'Natchitoches', 'Hempstead', 'Grant',
       'Hawkins', 'Hancock', 'Graham', 'Adams', 'Saline', 'Clay',
       'Evangeline', 'Putnam', 'Sandoval', 'Lawrence', 'Rhea', 'Eddy',
       'Otero', 'Carroll', 'Jefferson Davis', 'Cleburne', 'Morehouse',
       'Nye', 'St. Tammany', 'Benton', 'Hot Springs', 'Rio Arriba',
       'Weston', 'Independence', 'Pulaski', 'Esmeralda, Nye', 'Johnson',
       'Richland', 'Claiborne', 'Bienville', 'Fulton', 'Crook',
       'Poinsett', 'Lonoke', 'Park', 'Red River', 'Valencia', 'Dyer',
       'Macon', 'Allen', 'Hot Spring', 'Torrance', 'DeSoto', 'Socorro',
       'Williamson', 'Big Horn', 'Wayne', 'West Carroll', 'Taos',
       'Avoyelles', 'Smith', 'Iberville', 'Moore', 'Trousdale',
       'Ascension', 'Sequatchie', 'McNairy', 'Cameron', 'West Feliciana',
       'Hardin', 'West Baton Rouge', 'Obion', 'Cheatham', 'Assumption',
       'Tate', 'Washakie', 'Overton', 'Goshen', 'Stewart, Houston',
       'Marion', 'Gibson', 'Giles', 'Anderson', 'Hardeman', 'Mississippi',
       'Tipton', 'Bledsoe', 'Livingston', 'Eureka', 'St. Francis',
       'Churchill', 'Cocke', 'Cannon', 'Vernon', 'Beauregard',
       'White Pine', 'Douglas', 'Fayette, Madison, Shelby, Tipton',
       'Crawford', 'Scott', 'St. John the Baptist', 'St. Martin',
       'Haywood', 'Orleans', 'Cleveland', 'Loudon', 'LaSalle', 'Fayette',
       'La Paz', 'Van Buren', 'Rankin', 'Perry', 'Sabine', 'Crockett',
       'Drew', 'Quay', 'Yell', 'Pike', 'Lake', 'Copiah', 'Fentress',
       'Decatur', 'DeKalb', 'Humphreys', 'Weakley', 'Henderson',
       'Robertson', 'East Feliciana', 'Elko', 'Lewis', 'De Baca',
       'East Carroll', 'Tallahatchie', 'Simpson', 'Izard', 'Calhoun',
       'Nevada', 'Phillips', 'St. James', 'Carbon', 'Carter', 'Arkansas',
       'Coahoma', 'Pershing', 'Howard', 'St. Helena', 'Logan', 'Ashley',
       'Conway', 'Polk', 'Lander', 'Unicoi', 'Greenlee', 'Tensas',
       'Concordia', 'Bossier', 'Caldwell', 'Covington', 'Desha', 'Newton',
       'Chicot', 'Catahoula', 'Niobrara', 'Winn', 'St. Charles', 'Jasper',
       'Sharp', 'Columbia', 'Mineral', 'Morgan', 'Pickett', 'Stone',
       'Sharkey', 'Grainger', 'Randolph', 'Converse', 'Chester',
       'Hickman', 'Carrollton', 'Oktibbeha', 'Esmeralda']
new_df = new_df[new_df['county'].isin(county)]

In [0]:
len(new_df)

128

In [0]:
new_df_1 = pd.merge(cd, new_df, left_on=['State_x','Year'], right_on=['State_x','year'])

In [0]:
len(new_df_1)

3539443

In [0]:
new_df_1.to_csv('state_merged.csv')

In [0]:
file = drive.CreateFile({'parents':[{'id': '1lBQSbweFIo6Rf-tdZBWUGTqmRrKi1Nl8'}]})
file.SetContentFile("state_merged.csv")
file.Upload()

In [0]:
list(new_df_1.columns)

['Unnamed: 0_x',
 'state',
 'id',
 'county_x',
 'newspaper',
 'date',
 'notice_id',
 'combinations',
 'combinations_clean',
 'count_tags',
 'Year',
 'Month',
 'Day',
 'State_x',
 'Unnamed: 0_y',
 'FIPS',
 'Area_name',
 'Rural_urban_continuum_code_2013',
 'Urban_influence_code_2013',
 'Metro_2013',
 'Median_Household_Income_2016',
 'Med_HH_Income_Percent_of_State_Total_2016',
 'State_y',
 'Area_Name_x',
 'Rural-urban_Continuum_Code_2003',
 'Urban_Influence_Code_2003_x',
 'Rural-urban_Continuum_Code_2013',
 'Urban_Influence_Code_2013_x',
 'POVALL_2016',
 'CI90LBAll_2016',
 'CI90UBALL_2016',
 'PCTPOVALL_2016',
 'CI90LBALLP_2016',
 'CI90UBALLP_2016',
 'POV017_2016',
 'CI90LB017_2016',
 'CI90UB017_2016',
 'PCTPOV017_2016',
 'CI90LB017P_2016',
 'CI90UB017P_2016',
 'POV517_2016',
 'CI90LB517_2016',
 'CI90UB517_2016',
 'PCTPOV517_2016',
 'CI90LB517P_2016',
 'CI90UB517P_2016',
 'MEDHHINC_2016',
 'CI90LBINC_2016',
 'CI90UBINC_2016',
 'POV05_2016',
 'CI90LB05_2016',
 'CI90UB05_2016',
 'PCTPOV05_2016',
 'CI90LB05P_2016',
 'CI90UB05P_2016',
 'Less than a high school diploma, 1970',
 'High school diploma only, 1970',
 'Some college (1-3 years), 1970',
 'Four years of college or higher, 1970',
 'Percent of adults with less than a high school diploma, 1970',
 'Percent of adults with a high school diploma only, 1970',
 'Percent of adults completing some college (1-3 years), 1970',
 'Percent of adults completing four years of college or higher, 1970',
 'Less than a high school diploma, 1980',
 'High school diploma only, 1980',
 'Some college (1-3 years), 1980',
 'Four years of college or higher, 1980',
 'Percent of adults with less than a high school diploma, 1980',
 'Percent of adults with a high school diploma only, 1980',
 'Percent of adults completing some college (1-3 years), 1980',
 'Percent of adults completing four years of college or higher, 1980',
 'Less than a high school diploma, 1990',
 'High school diploma only, 1990',
 "Some college or associate's degree, 1990",
 "Bachelor's degree or higher, 1990",
 'Percent of adults with less than a high school diploma, 1990',
 'Percent of adults with a high school diploma only, 1990',
 "Percent of adults completing some college or associate's degree, 1990",
 "Percent of adults with a bachelor's degree or higher, 1990",
 'Less than a high school diploma, 2000',
 'High school diploma only, 2000',
 "Some college or associate's degree, 2000",
 "Bachelor's degree or higher, 2000",
 'Percent of adults with less than a high school diploma, 2000',
 'Percent of adults with a high school diploma only, 2000',
 "Percent of adults completing some college or associate's degree, 2000",
 "Percent of adults with a bachelor's degree or higher, 2000",
 'Less than a high school diploma, 2012-2016',
 'High school diploma only, 2012-2016',
 "Some college or associate's degree, 2012-2016",
 "Bachelor's degree or higher, 2012-2016",
 'Percent of adults with less than a high school diploma, 2012-2016',
 'Percent of adults with a high school diploma only, 2012-2016',
 "Percent of adults completing some college or associate's degree, 2012-2016",
 "Percent of adults with a bachelor's degree or higher, 2012-2016",
 'State_y.1',
 'Area_Name_y',
 'cnty',
 'main_protestant10',
 'evan_protestant10',
 'catholic10',
 'med_house_val0509',
 'med_house_income0509',
 'below_poverty0509',
 'log_med_house_val0509',
 'log_med_house_income0509',
 'high_school0509',
 'bac0509',
 'grad0509',
 'married0509',
 'divorced0509',
 'separated0509',
 'other_language0509',
 'foreign_born0509',
 'same_sex0509',
 'murderrate2008',
 'robberyrate2008',
 'agasltrate2008',
 'percent_physically_inactive_chr12',
 'motorvehicle_mortality_rate_chr12',
 'year_potential_life_lost_rate_chr12',
 'percent_excessive_drinking_chr12',
 'percent_smokers_chr12',
 'physically_unhealthy_days_chr12',
 'mentally_unhealthy_days_chr12',
 'percent_fair_or_poor_chr12',
 'percent_obese_chr12',
 'ls09_10_avg',
 'elev',
 'maxtemp0610',
 'mintemp0610',
 'max_heat_index0610',
 'sunlight0610',
 'precipitation0610',
 'year',
 'Civilian_labor_force',
 'Employed',
 'Unemployed',
 'Unemployment_rate',
 'POP_ESTIMATE',
 'N_POP_CHG',
 'Births',
 'Deaths',
 'NATURAL_INC',
 'INTERNATIONAL_MIG',
 'DOMESTIC_MIG',
 'NET_MIG',
 'RESIDUAL',
 'GQ_ESTIMATES',
 'R_birth',
 'R_death',
 'R_NATURAL_INC',
 'R_INTERNATIONAL_MIG',
 'R_DOMESTIC_MIG',
 'R_NET_MIG',
 'county_y',
 'Percent Educational Attainment',
 'Percent Peace Index',
 'Percent Above Poverty Rate',
 'Percent Non-religious']