In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('newmexico1218.csv')

In [0]:
gd = pd.read_csv('nm_gd_13_17.csv')

In [0]:
df.year.unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018])

In [0]:
gd['county'] = np.where(gd['county'] == 'Bernali', 'Bernalillo', gd['county'])
gd['county'] = np.where(gd['county'] == 'Curry C', 'Curry', gd['county'])
gd['county'] = np.where(gd['county'] == 'Dona An ', 'Dona Ana', gd['county'])
gd['county'] = np.where(gd['county'] == 'Eddy Co', 'Eddy', gd['county'])
gd['county'] = np.where(gd['county'] == 'Grant C', 'Grant', gd['county'])
gd['county'] = np.where(gd['county'] == 'Dyer Co', 'Dyer', gd['county'])
gd['county'] = np.where(gd['county'] == 'Lea Cou', 'Lea', gd['county'])
gd['county'] = np.where(gd['county'] == 'Los Ala ', 'Los Alamos', gd['county'])
gd['county'] = np.where(gd['county'] == 'Luna Co ', 'Luna', gd['county'])
gd['county'] = np.where(gd['county'] == 'Otero C ', 'Otero', gd['county'])
gd['county'] = np.where(gd['county'] == 'Quay Co', 'Quay', gd['county'])
gd['county'] = np.where(gd['county'] == 'Rio Arr ', 'Rio Arriba', gd['county'])
gd['county'] = np.where(gd['county'] == 'Rooseve', 'Roosevelt', gd['county'])
gd['county'] = np.where(gd['county'] == 'San Jua', 'San Juan', gd['county'])
gd['county'] = np.where(gd['county'] == 'San Mig', 'San Miguel', gd['county'])
gd['county'] = np.where(gd['county'] == 'Sandova', 'Sandoval', gd['county'])
gd['county'] = np.where(gd['county'] == 'Santa F', 'Santa Fe', gd['county'])
gd['county'] = np.where(gd['county'] == 'Taos Co ', 'Taos', gd['county'])
gd['county'] = np.where(gd['county'] == 'Torranc ', 'Torrance', gd['county'])
gd['county'] = np.where(gd['county'] == 'Valenci', 'Valencia', gd['county'])

In [0]:
str(sorted(gd.county.unique()))

"['Bernalillo', 'Chaves', 'Colfax', 'Curry', 'Dona An', 'Eddy', 'Grant', 'Lea', 'Lincoln', 'Los Ala', 'Luna Co', 'McKinle', 'Mora Co', 'Otero C', 'Quay', 'Rio Arr', 'Roosevelt', 'San Juan', 'San Miguel', 'Sandoval', 'Santa Fe', 'Sierra', 'Socorro', 'Taos Co', 'Torranc', 'Valencia']"

In [0]:
str(sorted(df.county.unique()))

"['Bernalillo', 'Chaves', 'Cibola', 'Colfax', 'Curry', 'De Baca', 'Dona Ana', 'Eddy', 'Grant', 'Guadalupe', 'Hidalgo', 'Lea', 'Lincoln', 'Los Alamos', 'Luna', 'Otero', 'Quay', 'Rio Arriba', 'Roosevelt', 'San Juan', 'San Miguel', 'Sandoval', 'Santa Fe', 'Sierra', 'Socorro', 'Taos', 'Torrance', 'Union', 'Valencia']"

In [0]:
new_df = pd.merge(df, gd, on=['county','year'])

In [0]:
new_df.drop(['Unnamed: 0_x', 'Unnamed: 0_y'],axis=1,inplace=True)

In [0]:
new_df.head()

,Unnamed: 0.1_x,state,id,link,county,newspaper,date,notice_id,new_category,count_tags,...,DOMESTIC_MIG,NET_MIG,RESIDUAL,GQ_ESTIMATES,R_birth,R_death,R_NATURAL_INC,R_INTERNATIONAL_MIG,R_DOMESTIC_MIG,R_NET_MIG
0,524,New Mexico,3036/1282013_19841325,http://www.publicnoticeads.com/NM/search/view....,Eddy,Carlsbad Current-Argus,2013-01-08 00:00:00,19841325.0,"['1-Bids', '2-Auctions', '3-Foreclosure', '4-P...",6,...,817.0,837.0,14.0,995.0,16.309294,10.684772,5.624522,0.364047,14.871309,15.235356
1,532,New Mexico,3036/1282013_19841322,http://www.publicnoticeads.com/NM/search/view....,Eddy,Carlsbad Current-Argus,2013-01-08 00:00:00,19841322.0,"['1-Bids', '2-Auctions', '3-Foreclosure', 'Pur...",4,...,817.0,837.0,14.0,995.0,16.309294,10.684772,5.624522,0.364047,14.871309,15.235356
2,556,New Mexico,3036/1142013_19794915,http://www.publicnoticeads.com/NM/search/view....,Eddy,Carlsbad Current-Argus,2013-01-08 00:00:00,19794915.0,"['1-Bids', '2-Auctions', '3-Foreclosure', 'Pur...",4,...,817.0,837.0,14.0,995.0,16.309294,10.684772,5.624522,0.364047,14.871309,15.235356
3,564,New Mexico,3036/1142013_19794916,http://www.publicnoticeads.com/NM/search/view....,Eddy,Carlsbad Current-Argus,2013-01-08 00:00:00,19794916.0,"['4-Probate', 'Creditors']",2,...,817.0,837.0,14.0,995.0,16.309294,10.684772,5.624522,0.364047,14.871309,15.235356
4,572,New Mexico,3036/1142013_19794909,http://www.publicnoticeads.com/NM/search/view....,Eddy,Carlsbad Current-Argus,2013-01-08 00:00:00,19794909.0,"['4-Probate', 'Creditors']",2,...,817.0,837.0,14.0,995.0,16.309294,10.684772,5.624522,0.364047,14.871309,15.235356

In [0]:
# new_df.to_csv('nv_12_17_merged.csv')

In [0]:
list(new_df.isnull().any())

In [0]:
list(new_df.columns)

In [0]:
cols = [
 'link',
 'new_category',
 'Area_name',
 'State_y',
 'Area_Name_x',
 'CI90LBAll_2016',
 'CI90UBALL_2016',
 'PCTPOVALL_2016',
 'CI90LBALLP_2016',
 'CI90UBALLP_2016',
 'CI90LB017_2016',
 'CI90UB017_2016',
 'PCTPOV017_2016',
 'CI90LB017P_2016',
 'CI90UB017P_2016',
 'POV517_2016',
 'CI90LB517_2016',
 'CI90UB517_2016',
 'PCTPOV517_2016',
 'CI90LB517P_2016',
 'CI90UB517P_2016',
 'CI90LBINC_2016',
 'CI90UBINC_2016',
 'Less than a high school diploma, 1970',
 'High school diploma only, 1970',
 'Some college (1-3 years), 1970',
 'Four years of college or higher, 1970',
 'Percent of adults with less than a high school diploma, 1970',
 'Percent of adults with a high school diploma only, 1970',
 'Percent of adults completing some college (1-3 years), 1970',
 'Percent of adults completing four years of college or higher, 1970',
 'Less than a high school diploma, 1980',
 'High school diploma only, 1980',
 'Some college (1-3 years), 1980',
 'Four years of college or higher, 1980',
 'Percent of adults with less than a high school diploma, 1980',
 'Percent of adults with a high school diploma only, 1980',
 'Percent of adults completing some college (1-3 years), 1980',
 'Percent of adults completing four years of college or higher, 1980',
 'Less than a high school diploma, 1990',
 'High school diploma only, 1990',
 "Some college or associate's degree, 1990",
 "Bachelor's degree or higher, 1990",
 'Percent of adults with less than a high school diploma, 1990',
 'Percent of adults with a high school diploma only, 1990',
 "Percent of adults completing some college or associate's degree, 1990",
 "Percent of adults with a bachelor's degree or higher, 1990",
 'Less than a high school diploma, 2000',
 'High school diploma only, 2000',
 "Some college or associate's degree, 2000",
 "Bachelor's degree or higher, 2000",
 'Percent of adults with less than a high school diploma, 2000',
 'Percent of adults with a high school diploma only, 2000',
 "Percent of adults completing some college or associate's degree, 2000",
 "Percent of adults with a bachelor's degree or higher, 2000",
 'cnty',
 'main_protestant10',
 'evan_protestant10',
 'catholic10',
 'med_house_val0509',
 'med_house_income0509',
 'below_poverty0509',
 'log_med_house_val0509',
 'log_med_house_income0509',
 'high_school0509',
 'bac0509',
 'grad0509',
 'married0509',
 'divorced0509',
 'separated0509',
 'other_language0509',
 'foreign_born0509',
 'same_sex0509',
#  'ls09_10_avg',
 'elev']

new_df.drop(cols, axis=1, inplace=True)

In [0]:
new_df.to_csv('nv_12_17_merged.csv')